USE [master]
GO
/****** Object:  Database [EdenredTopUpApp]    Script Date: 2/14/2024 11:36:00 PM ******/
CREATE DATABASE [EdenredTopUpApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EdenredTopUpApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EdenredTopUpApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EdenredTopUpApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EdenredTopUpApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EdenredTopUpApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EdenredTopUpApp]
GO
/****** Object:  Table [dbo].[TopUpOption]    Script Date: 2/14/2024 11:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopUpOption](
	[OptionId] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopUpRecord]    Script Date: 2/14/2024 11:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopUpRecord](
	[TopUpRecordId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[BeneficiaryId] [int] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TopUpRecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TopUpOption] ON 

INSERT [dbo].[TopUpOption] ([OptionId], [Amount]) VALUES (1, CAST(5.00 AS Decimal(18, 2)))
INSERT [dbo].[TopUpOption] ([OptionId], [Amount]) VALUES (2, CAST(10.00 AS Decimal(18, 2)))
INSERT [dbo].[TopUpOption] ([OptionId], [Amount]) VALUES (3, CAST(20.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TopUpOption] OFF
GO
SET IDENTITY_INSERT [dbo].[TopUpRecord] ON 

INSERT [dbo].[TopUpRecord] ([TopUpRecordId], [UserId], [BeneficiaryId], [Amount], [TransactionDate]) VALUES (1, 1, 1, CAST(99.00 AS Decimal(18, 2)), CAST(N'2024-02-14T18:58:23.563' AS DateTime))
SET IDENTITY_INSERT [dbo].[TopUpRecord] OFF
GO
ALTER TABLE [dbo].[TopUpRecord] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
USE [master]
GO
